<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="ListeningIpInterface" value="0.0.0.0"/>
    <add key="ListeningPort" value="8085"/>
    <add key="CertificateFile" value="CARoot.pfx"/>
    <add key="CertificateThumbprint" value="c925b3c73836f4aafde4d78d13cbb6b4baa597e4"/>    
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup></configuration>
